@import "tailwindcss";

@theme {
    /* Container */
    --container: 80rem;        /* 1280px */
    --container-lg: 74rem;     /* 1184px */ 
    --container-md: 60rem;     /* 960px */ 
    --container-sm: 45rem;     /* 720px */
    --container-padding: 2rem; /* 32px */
    /* Breakpoints */
    --breakpoint-*: initial;
    --breakpoint-xs: 22.5rem; /* 360px */
    --breakpoint-sm: 30rem;   /* 480px */
    --breakpoint-md: 48rem;   /* 768px */
    --breakpoint-lg: 64rem;   /* 1024px */
    --breakpoint-xl: 80rem;   /* 1280px */
    --breakpoint-2xl: 90rem;  /* 1440px */
    /* Font Family */
    --font-primary: 'Inter', sans-serif;
    /* Font Size */
    --text-xl: clamp(1.5rem, 1.1786rem + 1.4286vw, 2.25rem);       /* 24px - (360/1200) - 36px */
    --text-lg: clamp(1.5rem, 1.3393rem + 0.7143vw, 1.875rem);      /* 24px - (360/1200) - 30px */;
    --text-md: clamp(1.25rem, 1.1429rem + 0.4762vw, 1.5rem);       /* 20px - (360/1200) - 24px */
    --text-sm: clamp(1rem, 0.9287rem + 0.317vw, 1.125rem);         /* 16px - (360/1200) - 18px */
    --text-base: clamp(0.875rem, 0.7644rem + 0.4914vw, 1rem);      /* 14px - (360/1200) - 16px */
    --text-xs: clamp(0.8125rem, 0.7078rem + 0.4651vw, 0.875rem);   /* 13px - (360/1200) - 14px */
    /* Line Height */
    --text-xl--line-height: 3rem;       /* 48px */
    --text-lg--line-height: 2.5rem;     /* 40px */
    --text-md--line-height: 2rem;       /* 32px */
    --text-sm--line-height: 1.75rem;    /* 28px */
    --text-base--line-height: 1.5rem;   /* 24px */
    --text-xs--line-height: 1.25rem;    /* 20px */
    /* Colors */
    --color-theme: #FFF;
    --color-primary: #7F56D9;
    --color-heading: #1A1A1A;
    --color-text: #667085;
    --color-dark: #090D1F;
    /* Private */
    --color--purple: #6941C6;
    --color--purple-lgt: #F9F5FF;
    --color--blue: #3538CD;
    --color--blue-lgt: #EEF4FF;
    --color--green: #027A48;
    --color--green_lgt: #ECFDF3;
    --color--pink: #C11574;
    --color--pink-lgt: #FDF2FA;
    --color--red: #C01048;
    --color--red-lgt: #FFF1F3;
    --color--slate-blue: #363F72;
    --color--slate-blue-lgt: #F8F9FC;
    --color--gray: #121212;
    /* --- */
    --text--mega: clamp(4.5rem, 1rem + 15.5556vw, 15rem);   /* 72px - (360/1440) - 240px */
    --text--mega--line-height: 18.5 rem;  /* 296px */
}

@custom-variant dark (&:is(.dark *));

@layer theme {
    @media (width <= 80rem) {
        :root {
            --container: var(--container-lg);
        }
    }

    @media (width <= 64rem) {
        :root {
            --container: var(--container-md);
            --text--mega--line-height: 12rem; /* 192px */
        }
    }

    @media (width <= 48rem) {
        :root {
            --container: var(--container-sm);
        }
    }

    @media (width <= 30rem) {
        :root {
            --container-padding: 1.5rem;
            --text--mega--line-height: 6rem; /* 96px */
        }
    }

    @media (width <= 22.5rem) {
        :root {
            --text--mega--line-height: 1.2;
        }
    }
}

@layer base {
    html {
        font-family: var(--font-primary);
        scroll-behavior: smooth;
    }

    html.dark {
        --color-theme: #090D1F;
        --color-heading: #FFF;
        --color-text: #C0C5D0;
    }

    body {
        font-weight: 400;
    }

    h1,h2,h3,h4,h5,h6 {
        font-weight: 700;
        color: var(--color-heading);
    }

    p {
        font-size: var(--text-base);
        color: var(--color-text);
    }

    a {
        width: fit-content;
        display: block;
        font-size: var(--fs-base);
        text-decoration: none;
        color: var(--color-heading);
    }

    p a {
        display: inline;
        font-weight: 500;
    }

    button {
        font-size: var(--text-base);
        background-color: transparent;
        color: initial;
        border: none;
        cursor: pointer;
    }
    
    img, picture {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        font-size: var(--text-xs);
        font-style: italic;
    }

    picture {
        display: block;
    }

    svg {
        vertical-align: middle;
    }

    input, textarea, select {
        width: 100%;
        font-family: var(--font-primary);
        font-size: var(--text-xs);
        color: initial;
    }

    select {
        color: initial;
        appearance: none;
    }

    textarea {
        resize: none;
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 400 800;
        font-display: swap;
        src: url("/fonts/Inter-VariableFont_opsz_wght.woff2") format("woff2");
    }

}

@layer utilities {
    .container {
        max-width: var(--container);
        padding-inline: var(--container-padding);
        margin-inline: auto;
    }
}

@layer components {
    .btn--primary {
        font-weight: 500;
        text-transform: capitalize;
        background-color: var(--color-primary);
        color: #FFF;
        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;
    }

    .tag {
        width: fit-content;
        font-size: var(--text-xs);
        font-weight: 500;
        padding: 0.125rem 0.625rem;
        border-radius: 6.25rem;
    }

    .tag--purple {
        background-color: var(--color--purple-lgt);
        color: var(--color--purple);
    }

    .tag--blue {
        background-color: var(--color--blue-lgt);
        color: var(--color--blue);
    }

    .tag--green {
        background-color: var(--color--green_lgt);
        color: var(--color--green);
    }

    .tag--pink {
        background-color: var(--color--pink-lgt);
        color: var(--color--pink);
    }

    .tag--red {
        background-color: var(--color--red-lgt);
        color: var(--color--red);
    }

    .tag--gray {
        background-color: var(--color--slate-blue-lgt);
        color: var(--color--slate-blue);
    }


}